/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}



h1 {
    font-size: 36px;
    margin-left: 70px;
    color: darkorange;
}
h2 {
    font-size: 34px;
}
h3{
    font-size:28px;
}
h4{
    font-size:26px;
}
h5{
    font-size:24px;
}
h2,h3,h4,h5 {
    padding: 10px 30px 10px 30px;
    color: orange;
}


p {
    font-size:20px;
    padding: 10px 80px 10px 80px;
}

button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    border-radius: 8px;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.wrapper {
    display: flex;
    padding: 20px;
}
.colorstrip{
    width: 100%;
    margin: 0;
    border-style: solid;
    border-color: greenyellow;
    background-color: greenyellow;
}

.center {
    display: flex;
    justify-content: center;
    text-align:center;
}

.picture {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}